<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="edu.geneve.autosize">

  <application tools:ignore="GoogleAppIndexingWarning">
    <provider
      android:name="edu.geneve.autosize.InitProvider"
      android:authorities="${applicationId}.autosize-init-provider"
      android:exported="false"
      android:multiprocess="true"/>
  </application>
</manifest>
